extends layout

script(src="/scripts/index.js")

block content
  h1 much link
  h2 so length
  form#formAddLink(name="addlink",method="post",action="/addlink")
    input#url(type="text", placeholder="very url", name="url")
    button#btnSubmit(type="submit") wow