extends layout

block content
  div.wrap
    h1.red much link
    h2.yellow so length
    form#formAddLink(name="addlink",method="post",action="/addlink")
      input#url(type="text", placeholder="very url", name="url")
      br
      button#btnSubmit(type="submit") wow