extends layout

block content
  div.wrap
    h1.blue dogeify
    p.position1 much link
    p.position2 so longer
    form#formAddLink(name="addlink",method="post",action="/addlink")
      input#url(type="text", placeholder="very url", name="url")
      br
      button#btnSubmit(type="submit") wow
