doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  footer made by 
    a.href(href="http://www.twitter.com/KanYang") joeyyang</a> and&nbsp;
    a.href(href="http://www.twitter.com/kevinmrr") kevmo</a> at&nbsp;
    a.href(href="http://www.hackreactor.com") hack reactor